input {
  opacity: 0;

  &:hover {
    cursor: default;
  }

  &:hover,
  &:focus,
  &:active {
    border: none;
    outline: none;
    box-shadow: none;
    color: transparent;
    background: transparent;
  }
}